body {
  color:#303030;
  font-family: serif;
  margin: 0;
  padding: 0;
}

a:link {
  color: #ffffff;
}

a:hover {
  color: #fff;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

h1{
  font-size:2rem;
  padding:1rem;
}

ul{
  font-size:1.125rem;
}

li{
  list-style-type: none;
  display: inline-block;
}
header{
  margin-bottom:75px;
  background:#000;
  color:#fff;
}
main-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

main-nav-item {
  font-weight: bold;
  text-decoration: none;
  padding:1rem;
}

main-nav-item a {
  text-decoration: none;
}




@media screen and (min-width: 640px){
header{
  display: flex;
      align-items: center;  
        justify-content: space-between; 
}
  main-nav-list {
    display:flex;
    padding: 1rem;
  }
}
